#
# A configuration file to describe an API test.
#

# end point
endpoint: https://v4-dev.lib.virginia.edu/api/users

# auth
auth: https://v4-dev.lib.virginia.edu/authorize

# query template
template: _USER_/illiad

# template support (optional as appropriate)
userlist: virgo4-client/userlist

#
# end of file
#
