#
# A configuration file to describe an API test.
#

# end point
endpoint: https://search-dev.lib.virginia.edu/api/users

# auth
auth: https://search-dev.lib.virginia.edu/authorize

# query template
template: _USER_/holds

# template support (optional as appropriate)
userlist: virgo4-client/userlist

#
# end of file
#
