#
# A configuration file to describe a bulk search test.
#

# end point
endpoint: https://pool-eds-ws-dev.internal.lib.virginia.edu/api/search

# method payload template (optional as appropriate)
payload: search-ws/search-template.json

# template support (optional as appropriate)
wordlist: /usr/share/dict/words
rewrite: XXXKEYWORDXXX

# do we walk through all pool results or not
walkresults: yes

#
# end of file
#
