#
# A configuration file to describe a bulk search test.
#

# end point
endpoint: https://suggestor-ws-dev.internal.lib.virginia.edu/api/suggest

# auth
auth: https://v4-dev.lib.virginia.edu/authorize

# method payload template (optional as appropriate)
payload: searches/suggestor-query-template.json
#payload: searches/suggestor-query.json

# template support (optional as appropriate)
wordlist: /usr/share/dict/words

#
# end of file
#
