#
# A configuration file to describe a bulk search test.
#

# end point
endpoint: http://virgo4-solr-staging-replica-private.internal.lib.virginia.edu:8080/solr

# query template
#query: searches/1-title-solr-query-template.txt
#query: searches/2-title-solr-query-template.txt
#query: searches/3-title-solr-query-template.txt
#query: searches/1-author-solr-query-template.txt
#query: searches/2-author-solr-query-template.txt
#query: searches/3-author-solr-query-template.txt
#query: searches/1-subject-solr-query-template.txt
#query: searches/2-subject-solr-query-template.txt
query: searches/3-subject-solr-query-template.txt

# template support (optional as appropriate)
wordlist: /usr/share/dict/words

# do we walk through all pool results or not
walkresults: no

#
# end of file
#
