#
# A configuration file to describe a bulk search test.
#

# end point
endpoint: https://pool-solr-ws-catalog.internal.lib.virginia.edu/api/search

# auth
auth: https://v4.lib.virginia.edu/authorize

# method payload template (optional as appropriate)
payload: searches/1-keyword-query-template.json

# template support (optional as appropriate)
wordlist: /usr/share/dict/words

# do we walk through all pool results or not
walkresults: no

#
# end of file
#
