#
# A configuration file to describe a bulk search test.
#

# end point
endpoint: https://pool-solr-ws-uva-library.internal.lib.virginia.edu/api/search

# auth
auth: https://search.lib.virginia.edu/authorize

# method payload template (optional as appropriate)
payload: searches/empty-pool-query-template.json

# template support (optional as appropriate)
querylist: searches/queries-oct-2022.txt

# do we walk through all pool results or not
walkresults: no

#
# end of file
#
